* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1376px;
	height: 786px;
	cursor: pointer;
	position: relative;
}

/* .container-wrapper{
	border: 5px solid darkgoldenrod;
	margin: 0 30px;
} */ 

.sixty {
	width: 115px;
	height: 48px;
	left: 60px;
	top: 15px;
	font-family: 'Gruppo', cursive;
	font-weight: normal; 
	font-style: normal;
	font-size: 36px;
	line-height: 35px;
	color: #000;
	position: absolute;

}

.sixty a {
color: #333;
}

.sixty a:hover{
	color: #333;
}

.ellipse{
	width: 12px;
	height: 12px;
	left: 102px;
	top: 19px;
	box-sizing: border-box;
	position: absolute;
}

.login-btn{
	width: 35px;
	height: 23px;
	top:12px;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: 161.3%;
	position: absolute;
	left: 21px;
	color: #fff;
}

.signUp-btn{
	width: 48px;
	height: 23px;
	position: absolute;
	top:12px;
	left: 20px;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: 161.3%;

}

#login{
	position: absolute;
	width: 83px;
	height: 44px;
	left: 1169px;
	top: 14px;
	background-color: #507EF5;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	border-radius: 30px 0px 0px 30px;
	color: #fff;
	box-sizing: border-box;
}

#sign{
	position: absolute;
	width: 96px;
	height: 44px;
	left: 1250px;
	top: 14px;
	background-color: #356DFB;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	border-radius: 0px 30px 30px 0px;
	color: #fff;
	box-sizing: border-box;
}

#sign:hover, #login:hover, #get-started-btn:hover{
		background-color: rgba(0, 0, 173, 0.753);
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #000;
}

.first-section-text {
	position: absolute;
	width: 538px;
	height: 325px;
	left: 60px;
	top: 107px;
	font-weight: 600;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
	line-height: 65px;
}

.first-cards-box {
	background-image: url('../images/Component\ 12.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 237px;
	height: 195px;
	left: 909px;
	top: 115px;
	border-radius: 5px 5px 0px 0px;
}

.first-cards {
	position: absolute;
	 width: 237px;
	height: 259px;
	left: 30px;
	top: 25px; 
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 1px 4px rgba(0,  0,  0, 0.1);
}

.second-cards {
	position: absolute;
	 width: 237px;
	height: 259px;
	left: 30px;
	top: 25px; 
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 1px 4px rgba(0,  0,  0, 0.1);
}

.third-cards {
	position: absolute;
	 width: 237px;
	height: 259px;
	left: 30px;
	top: -140px; 
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 1px 4px rgba(0,  0,  0, 0.1);
}

.img-tag{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 19px;
	color: #444444;
	margin-top: 14px;
}

.second-section-box {
	background-image: url('../images/Component\ 12.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 237px;
	height: 195px;
	left: 744px;
	top: 430px;
	border-radius: 5px 5px 0px 0px;
}

.third-section-box {
	background-image: url('../images/Component\ 12.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 237px;
	height: 195px;
	left: 1100px;
	top: 600px;
	border-radius: 5px 5px 0px 0px;
}

.lists1, .lists2, .lists3{
	position: absolute;
	width: 16px;
	height: 14px;
	left: -32px;
	top: 4px;
}

#list1{
	position: absolute;
	width: 187px;
	height: 22px;
	left: 97px;
	top: 473px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
}

#list2{
	position: absolute;
	width: 446px;
	height: 22px;
	left: 97px;
	top: 505px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
}

#list3{
	position: absolute;
	width: 258px;
	height: 22px;
	left: 97px;
	top: 536px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
}

#get-started-btn{
	position: absolute;
	width: 177px;
	height: 52px;
	left: 60px;
	top: 615px;
	background: #356DFB;
	border-radius: 30px;
	border: none;
	outline: none;
}

 a #get-started-btn{
	text-decoration: none;
	color: #E1E1EC;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	font-style: normal;
}

footer{
	position: absolute;
	width: 208px;
	height: 15px;
	left: 631px;
	top: 750px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	font-style: normal;
}

/********************* Media Querries *********************/
/*
@media screen and (max-width: 1100px){
.first-section-text {
  color: #f1f1f1;
}

.first-cards-box {
	display: none;
}

#second-section {
display: block;
}

.second-section-box {
	 width: 58%; 
	margin-top: 20px;
}

#get-started-btn {
	margin-top: 30px;
	outline: none;
}
}

@media screen and (max-width: 960px){
	.second-section-box {
display: block;
width: 29%;
margin-top: 10px;
}

.second-cards {
margin-top: 30px;
}

ul li {
	font-size: 16px;
}

.lists {
	font-size: 18px;
}
}

@media screen and (max-width:930px),(min-width:800px){
	.second-cards{
	width: 260px;
}
}
@media screen and (max-width:800px){
.first-section-text {
 font-size: 35px;
}

.second-cards{
	width: 260px;
}
}

@media screen and (max-width: 490px){
	ul li {
	font-size: 12px;
}

.lists {
	font-size: 14px;
}
footer{
	font-size: 16px;
}
}

@media screen and (max-width: 330px){
	ul li {
	font-size: 10px;
}

.lists {
	font-size: 12px;
}
footer{
	font-size: 14px;
}
} */


