* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-sign-up {
  position: absolute;
  width: 365px;
  height: 719px;
  top: 128px;
  left: 505px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  opacity: 2;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
}

.btn {
 float: right;
  border: none;
  padding:0.5rem;
  margin: 0.5rem;
  outline: none;
  color: #A39B9B;
  font-size: 16px;
  cursor: pointer;
}

.modal-sixty-2 {
  position: absolute;
  left: 25.25%;
  right: 34.25%;
  top: 5.15%;
  bottom: 89.51%;
  font-family: 'Gruppo', cursive;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 35px;
}

.modal-ellipse-2 {
  position: absolute;
  left: 53.05%;
  right: 50.96%; 
  top: 14.78%;
  bottom: 91.19%;
  box-sizing: border-box;
}

.welcome-2 {
  position: absolute;
  left: 7.12%;
  right: 60.82%;
  top: 13.63%;
  bottom: 79.97%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #356DFB;
  width: 200px;
}

.details-2 {
  position: absolute;
  left: 7.12%;
  right: 8.9%;
  top: 21.97%;
  bottom: 75.94%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  color: #777777;
  width: 320px;
}

.box-wrapper-2 {
  position: absolute;
  left: 7.4%;
  right: 6.58%;
  top: 27.96%;
  bottom: 65.65%;
  background: #fff;
  border: 1.5px solid #356DFB;
  box-sizing: content-box;
  border-radius: 10px;
}

.google-tag {
  position: absolute;
  left: 35.62%;
  right: 26.85%;
  top: 36.44%;
  bottom: 60.34%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #356DFB;
  width: 200px;
}

 .box-wrapper-2 img {
  position: absolute;
  left: 25.48%;
  right: 69.04%;
  top: 36.27%;
  bottom: 60.34%;
}

.line3 {
  position: absolute;
  left: 30.96%;
  right: 56.44%;
  top: 38.53%;
  bottom: 61.47%;
}

.or-2 p {
  position: absolute;
  left: 47.12%;
  right: 47.12%;
  top: 37.27%;
  bottom: 60.08%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B6B8C9;

}

.line4 {
  position: absolute;
  left: 55.07%;
  right: 32.33%;
  top: 38.53%;
  bottom: 61.47%;
}

#name-input-modal {
  position: absolute;
  left: 7.12%;
  right: 6.85%;
  top: 43.53%;
  bottom: 50.07%;
  background: #fff;
  border: 1px solid #DEDFEC;
  box-sizing: border-box;
  border-radius: 10px;
  width: 87%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BDBEC1;
  padding-left: 20px;
  outline: none;
}

#username-input-modal {
  position: absolute;
  left: 7.12%;
  right: 6.85%;
  top: 52.71%;
  bottom: 40.89%;
  background: #fff;
  border: 1px solid #DEDFEC;
  box-sizing: border-box;
  border-radius: 10px;
  width: 87%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BDBEC1;
  padding-left: 20px;
  outline: none;
}

#email-input-modal {
   position: absolute;
   left: 7.12%;
  right: 6.85%;
  top: 61.89%;
  bottom: 31.71%;
  background: #fff;
  border: 1px solid #DEDFEC;
  box-sizing: border-box;
  border-radius: 10px;
  width: 87%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BDBEC1;
  padding-left: 20px;
  outline: none;
}

#password-input-modal {
  position: absolute;
  left: 7.12%;
  right: 6.85%;
  top: 71.07%;
  bottom: 22.53%;
  background: #fff;
  border: 1px solid #DEDFEC;
  box-sizing: border-box;
  border-radius: 10px;
  width: 87%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BDBEC1;
  padding-left: 20px;
  outline: none;
}

.log-box-2 {
  position: absolute;
  left: 7.12%;
  right: 6.85;
  top: 81.5%;
  bottom: 11.82%;
  background: #356DFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 87%;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.log-box:hover {
  background-color: rgba(0, 0, 255, 0.753);
}

.text-center-2 {
  position: absolute;
  left: 23.56%;
  right: 21.1%;
  top: 91.79%;
  bottom: 6.26%;
  font-family: 'Roboto',sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.text-center-2 a {
  color: #2762f7;
}

.text-center-2 a:hover {
  color: #2762f7;
}

/************************ Media Query ***************************/
@media screen and (max-width:800px){
.modalSam2{
  width: 360px;
  left: 20%;
}
}

@media screen and (max-width:490px){
 .modalSam2{
   width:320px;
   left: 10%;
 }
 .detials{
   font-size: 14px;
 }
}

@media screen and (max-width:370px){
 .modalSam2{
   width:310px;
   left: 10%;
 }
 .detials{
   font-size: 12px;
 }
}

@media screen and (max-width:350px){
 .modalSam2{
   left: 5%;
 }
 .detials{
   font-size: 10px;
 }
}

@media screen and (max-width:330px){
 .modalSam2{
   width:290px;
   left: 5%;

 }
 .box-wrapper{
  font-size: 10px;
}

.box-wrapper img{
  width: 25px;
}
.detials{
   font-size: 10px;
 }
}

@media screen and (max-width:310px){
  .modalSam2{
    left: 2%;
  }
}